In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [2]:
data=pd.read_csv(r"C:\Users\VIRAJ\Downloads\Fish.csv")
data

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [3]:
data.Species.value_counts()

Perch        56
Bream        35
Roach        20
Pike         17
Smelt        14
Parkki       11
Whitefish     6
Name: Species, dtype: int64

In [4]:
data.columns

Index(['Species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height',
       'Width'],
      dtype='object')

In [5]:
fv=data.drop(["Weight"],axis=1)
fv

    Species  Length1  Length2  Length3   Height   Width
0     Bream     23.2     25.4     30.0  11.5200  4.0200
1     Bream     24.0     26.3     31.2  12.4800  4.3056
2     Bream     23.9     26.5     31.1  12.3778  4.6961
3     Bream     26.3     29.0     33.5  12.7300  4.4555
4     Bream     26.5     29.0     34.0  12.4440  5.1340
..      ...      ...      ...      ...      ...     ...
154   Smelt     11.5     12.2     13.4   2.0904  1.3936
155   Smelt     11.7     12.4     13.5   2.4300  1.2690
156   Smelt     12.1     13.0     13.8   2.2770  1.2558
157   Smelt     13.2     14.3     15.2   2.8728  2.0672
158   Smelt     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 6 columns]

In [6]:
cl=data[["Weight"]]
cl

     Weight
0     242.0
1     290.0
2     340.0
3     363.0
4     430.0
..      ...
154    12.2
155    13.4
156    12.2
157    19.7
158    19.9

[159 rows x 1 columns]

In [7]:
x_train,x_test,y_train,y_test=train_test_split(fv,cl,train_size=0.7)
x_train

    Species  Length1  Length2  Length3   Height   Width
121   Perch     37.0     40.0     42.4  12.3808  7.4624
38    Roach     18.2     19.8     22.2   5.6166  3.1746
146   Smelt     10.0     10.5     11.6   1.9720  1.1600
70   Parkki     23.0     25.0     28.0  11.0880  4.1440
74    Perch     13.8     15.0     16.0   3.8240  2.4320
..      ...      ...      ...      ...      ...     ...
131    Pike     34.8     37.3     39.8   6.2884  4.0198
76    Perch     15.7     17.4     18.5   4.5880  2.9415
138    Pike     43.2     46.0     48.7   7.7920  4.8700
42    Roach     19.4     21.0     23.7   6.1146  3.2943
127   Perch     41.1     44.0     46.6  12.4888  7.5958

[111 rows x 6 columns]

In [8]:
ohe=OneHotEncoder()
d=ohe.fit_transform(x_train[["Species"]])
df=pd.DataFrame(d.toarray(),columns=ohe.categories_)
df

    Bream Parkki Perch Pike Roach Smelt Whitefish
0     0.0    0.0   1.0  0.0   0.0   0.0       0.0
1     0.0    0.0   0.0  0.0   1.0   0.0       0.0
2     0.0    0.0   0.0  0.0   0.0   1.0       0.0
3     0.0    1.0   0.0  0.0   0.0   0.0       0.0
4     0.0    0.0   1.0  0.0   0.0   0.0       0.0
..    ...    ...   ...  ...   ...   ...       ...
106   0.0    0.0   0.0  1.0   0.0   0.0       0.0
107   0.0    0.0   1.0  0.0   0.0   0.0       0.0
108   0.0    0.0   0.0  1.0   0.0   0.0       0.0
109   0.0    0.0   0.0  0.0   1.0   0.0       0.0
110   0.0    0.0   1.0  0.0   0.0   0.0       0.0

[111 rows x 7 columns]

In [9]:
x_train=x_train.drop(["Species"],axis=1)
x_train.reset_index(drop=True,inplace=True)
x_train

     Length1  Length2  Length3   Height   Width
0       37.0     40.0     42.4  12.3808  7.4624
1       18.2     19.8     22.2   5.6166  3.1746
2       10.0     10.5     11.6   1.9720  1.1600
3       23.0     25.0     28.0  11.0880  4.1440
4       13.8     15.0     16.0   3.8240  2.4320
..       ...      ...      ...      ...     ...
106     34.8     37.3     39.8   6.2884  4.0198
107     15.7     17.4     18.5   4.5880  2.9415
108     43.2     46.0     48.7   7.7920  4.8700
109     19.4     21.0     23.7   6.1146  3.2943
110     41.1     44.0     46.6  12.4888  7.5958

[111 rows x 5 columns]

In [10]:
new_x_train=pd.concat([df,x_train],axis=1)
new_x_train

,"(Bream,)","(Parkki,)","(Perch,)","(Pike,)","(Roach,)","(Smelt,)","(Whitefish,)",Length1,Length2,Length3,Height,Width
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,37.0,40.0,42.4,12.3808,7.4624
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,18.2,19.8,22.2,5.6166,3.1746
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,10.0,10.5,11.6,1.9720,1.1600
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,23.0,25.0,28.0,11.0880,4.1440
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,13.8,15.0,16.0,3.8240,2.4320
...,...,...,...,...,...,...,...,...,...,...,...,...
106,0.0,0.0,0.0,1.0,0.0,0.0,0.0,34.8,37.3,39.8,6.2884,4.0198
107,0.0,0.0,1.0,0.0,0.0,0.0,0.0,15.7,17.4,18.5,4.5880,2.9415
108,0.0,0.0,0.0,1.0,0.0,0.0,0.0,43.2,46.0,48.7,7.7920,4.8700
109,0.0,0.0,0.0,0.0,1.0,0.0,0.0,19.4,21.0,23.7,6.1146,3.2943
110,0.0,0.0,1.0,0.0,0.0,0.0,0.0,41.1,44.0,46.6,12.4888,7.5958

In [11]:
d=ohe.transform(x_test[["Species"]])
d.toarray()

array([[0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0.]])

In [12]:
df1=pd.DataFrame(d.toarray(),columns=ohe.categories_)
df1

   Bream Parkki Perch Pike Roach Smelt Whitefish
0    0.0    0.0   0.0  0.0   1.0   0.0       0.0
1    0.0    0.0   0.0  0.0   0.0   1.0       0.0
2    0.0    0.0   1.0  0.0   0.0   0.0       0.0
3    0.0    1.0   0.0  0.0   0.0   0.0       0.0
4    0.0    0.0   1.0  0.0   0.0   0.0       0.0
5    0.0    1.0   0.0  0.0   0.0   0.0       0.0
6    0.0    0.0   0.0  0.0   1.0   0.0       0.0
7    0.0    0.0   1.0  0.0   0.0   0.0       0.0
8    0.0    0.0   1.0  0.0   0.0   0.0       0.0
9    1.0    0.0   0.0  0.0   0.0   0.0       0.0
10   0.0    0.0   0.0  0.0   1.0   0.0       0.0
11   0.0    0.0   0.0  0.0   1.0   0.0       0.0
12   0.0    0.0   1.0  0.0   0.0   0.0       0.0
13   0.0    0.0   1.0  0.0   0.0   0.0       0.0
14   0.0    0.0   1.0  0.0   0.0   0.0       0.0
15   1.0    0.0   0.0  0.0   0.0   0.0       0.0
16   0.0    0.0   1.0  0.0   0.0   0.0       0.0
17   0.0    0.0   1.0  0.0   0.0   0.0       0.0
18   1.0    0.0   0.0  0.0   0.0   0.0       0.0
19   1.0    0.0   0.0  0.0   0.0   0.0       0.0
20   0.0    0.0   0.0  0.0   1.0   0.0       0.0
21   0.0    0.0   1.0  0.0   0.0   0.0       0.0
22   1.0    0.0   0.0  0.0   0.0   0.0       0.0
23   0.0    0.0   0.0  0.0   1.0   0.0       0.0
24   1.0    0.0   0.0  0.0   0.0   0.0       0.0
25   0.0    0.0   1.0  0.0   0.0   0.0       0.0
26   0.0    0.0   1.0  0.0   0.0   0.0       0.0
27   0.0    0.0   0.0  0.0   0.0   1.0       0.0
28   0.0    0.0   0.0  0.0   1.0   0.0       0.0
29   0.0    0.0   1.0  0.0   0.0   0.0       0.0
30   0.0    0.0   0.0  1.0   0.0   0.0       0.0
31   0.0    0.0   0.0  0.0   1.0   0.0       0.0
32   1.0    0.0   0.0  0.0   0.0   0.0       0.0
33   0.0    0.0   1.0  0.0   0.0   0.0       0.0
34   0.0    0.0   0.0  0.0   0.0   1.0       0.0
35   0.0    0.0   0.0  1.0   0.0   0.0       0.0
36   0.0    0.0   1.0  0.0   0.0   0.0       0.0
37   0.0    0.0   1.0  0.0   0.0   0.0       0.0
38   1.0    0.0   0.0  0.0   0.0   0.0       0.0
39   0.0    1.0   0.0  0.0   0.0   0.0       0.0
40   0.0    0.0   1.0  0.0   0.0   0.0       0.0
41   0.0    0.0   0.0  0.0   1.0   0.0       0.0
42   0.0    0.0   0.0  1.0   0.0   0.0       0.0
43   0.0    0.0   0.0  0.0   1.0   0.0       0.0
44   0.0    0.0   1.0  0.0   0.0   0.0       0.0
45   0.0    0.0   0.0  0.0   0.0   1.0       0.0
46   0.0    0.0   0.0  0.0   0.0   0.0       1.0
47   1.0    0.0   0.0  0.0   0.0   0.0       0.0

In [13]:
x_test=x_test.drop(["Species"],axis=1)
x_test.reset_index(drop=True,inplace=True)
x_test

    Length1  Length2  Length3   Height   Width
0      19.0     20.5     22.8   6.4752  3.3516
1      11.5     12.2     13.4   2.0904  1.3936
2      32.0     34.5     36.5  10.2565  6.3875
3      13.5     14.7     16.5   6.8475  2.3265
4      22.6     24.6     26.2   6.7334  4.1658
5      17.5     19.0     21.3   8.3922  2.9181
6      29.5     31.7     35.0   9.4850  5.3550
7      36.5     39.0     41.4  11.1366  7.4934
8       7.5      8.4      8.8   2.1120  1.4080
9      26.5     29.0     34.0  12.4440  5.1340
10     19.1     20.8     23.1   6.1677  3.3957
11     22.1     23.5     26.8   7.3968  4.1272
12     16.8     18.7     19.4   5.1992  3.1234
13     19.0     21.0     22.5   5.9175  3.3075
14     25.4     27.5     28.9   7.2828  4.5662
15     38.0     41.0     46.5  17.6235  6.3705
16     23.5     25.6     27.0   6.5610  4.2390
17     34.0     36.0     38.3  10.6091  6.7408
18     31.8     35.0     40.9  16.3600  6.0532
19     27.6     30.0     35.1  14.0049  4.8438
20     12.9     14.1     16.2   4.1472  2.2680
21     21.0     23.0     24.5   5.2185  3.6260
22     29.5     32.0     37.3  13.9129  5.0728
23     17.5     18.8     21.2   5.5756  2.9044
24     28.5     30.7     36.2  14.2266  4.9594
25     39.0     42.0     44.6  12.8002  6.8684
26     20.7     22.7     24.2   5.9532  3.6300
27     10.7     11.2     12.4   2.0832  1.2772
28     16.5     18.2     20.3   5.2983  2.8217
29     25.0     26.5     28.0   7.1680  4.1440
30     40.0     42.5     45.5   7.2800  4.3225
31     20.5     22.5     25.3   7.0334  3.8203
32     28.4     31.0     36.2  14.2628  5.1042
33     37.1     40.0     42.5  11.1350  6.6300
34     12.1     13.0     13.8   2.2770  1.2558
35     31.7     34.0     37.8   5.7078  4.1580
36     22.0     24.0     25.5   7.2930  3.7230
37     16.2     18.0     19.2   5.2224  3.3216
38     23.2     25.4     30.0  11.5200  4.0200
39     19.8     21.5     24.1   9.7364  3.1571
40     37.0     40.0     42.5  11.7300  7.2250
41     20.4     22.0     24.7   5.8045  3.7544
42     48.3     51.7     55.1   8.9262  6.1712
43     24.0     26.0     29.2   8.8768  4.4968
44     25.4     27.5     28.9   7.0516  4.3350
45     13.8     15.0     16.2   2.9322  1.8792
46     24.1     26.5     29.3   8.1454  4.2485
47     26.3     29.0     33.5  12.7300  4.4555

In [14]:
new_x_test=pd.concat([df1,x_test],axis=1)
new_x_test

,"(Bream,)","(Parkki,)","(Perch,)","(Pike,)","(Roach,)","(Smelt,)","(Whitefish,)",Length1,Length2,Length3,Height,Width
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,19.0,20.5,22.8,6.4752,3.3516
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,11.5,12.2,13.4,2.0904,1.3936
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,32.0,34.5,36.5,10.2565,6.3875
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,13.5,14.7,16.5,6.8475,2.3265
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,22.6,24.6,26.2,6.7334,4.1658
5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,17.5,19.0,21.3,8.3922,2.9181
6,0.0,0.0,0.0,0.0,1.0,0.0,0.0,29.5,31.7,35.0,9.4850,5.3550
7,0.0,0.0,1.0,0.0,0.0,0.0,0.0,36.5,39.0,41.4,11.1366,7.4934
8,0.0,0.0,1.0,0.0,0.0,0.0,0.0,7.5,8.4,8.8,2.1120,1.4080
9,1.0,0.0,0.0,0.0,0.0,0.0,0.0,26.5,29.0,34.0,12.4440,5.1340
10,0.0,0.0,0.0,0.0,1.0,0.0,0.0,19.1,20.8,23.1,6.1677,3.3957
11,0.0,0.0,0.0,0.0,1.0,0.0,0.0,22.1,23.5,26.8,7.3968,4.1272
12,0.0,0.0,1.0,0.0,0.0,0.0,0.0,16.8,18.7,19.4,5.1992,3.1234
13,0.0,0.0,1.0,0.0,0.0,0.0,0.0,19.0,21.0,22.5,5.9175,3.3075
14,0.0,0.0,1.0,0.0,0.0,0.0,0.0,25.4,27.5,28.9,7.2828,4.5662
15,1.0,0.0,0.0,0.0,0.0,0.0,0.0,38.0,41.0,46.5,17.6235,6.3705
16,0.0,0.0,1.0,0.0,0.0,0.0,0.0,23.5,25.6,27.0,6.5610,4.2390
17,0.0,0.0,1.0,0.0,0.0,0.0,0.0,34.0,36.0,38.3,10.6091,6.7408
18,1.0,0.0,0.0,0.0,0.0,0.0,0.0,31.8,35.0,40.9,16.3600,6.0532
19,1.0,0.0,0.0,0.0,0.0,0.0,0.0,27.6,30.0,35.1,14.0049,4.8438
20,0.0,0.0,0.0,0.0,1.0,0.0,0.0,12.9,14.1,16.2,4.1472,2.2680
21,0.0,0.0,1.0,0.0,0.0,0.0,0.0,21.0,23.0,24.5,5.2185,3.6260
22,1.0,0.0,0.0,0.0,0.0,0.0,0.0,29.5,32.0,37.3,13.9129,5.0728
23,0.0,0.0,0.0,0.0,1.0,0.0,0.0,17.5,18.8,21.2,5.5756,2.9044
24,1.0,0.0,0.0,0.0,0.0,0.0,0.0,28.5,30.7,36.2,14.2266,4.9594
25,0.0,0.0,1.0,0.0,0.0,0.0,0.0,39.0,42.0,44.6,12.8002,6.8684
26,0.0,0.0,1.0,0.0,0.0,0.0,0.0,20.7,22.7,24.2,5.9532,3.6300
27,0.0,0.0,0.0,0.0,0.0,1.0,0.0,10.7,11.2,12.4,2.0832,1.2772
28,0.0,0.0,0.0,0.0,1.0,0.0,0.0,16.5,18.2,20.3,5.2983,2.8217
29,0.0,0.0,1.0,0.0,0.0,0.0,0.0,25.0,26.5,28.0,7.1680,4.1440
30,0.0,0.0,0.0,1.0,0.0,0.0,0.0,40.0,42.5,45.5,7.2800,4.3225
31,0.0,0.0,0.0,0.0,1.0,0.0,0.0,20.5,22.5,25.3,7.0334,3.8203
32,1.0,0.0,0.0,0.0,0.0,0.0,0.0,28.4,31.0,36.2,14.2628,5.1042
33,0.0,0.0,1.0,0.0,0.0,0.0,0.0,37.1,40.0,42.5,11.1350,6.6300
34,0.0,0.0,0.0,0.0,0.0,1.0,0.0,12.1,13.0,13.8,2.2770,1.2558
35,0.0,0.0,0.0,1.0,0.0,0.0,0.0,31.7,34.0,37.8,5.7078,4.1580
36,0.0,0.0,1.0,0.0,0.0,0.0,0.0,22.0,24.0,25.5,7.2930,3.7230
37,0.0,0.0,1.0,0.0,0.0,0.0,0.0,16.2,18.0,19.2,5.2224,3.3216
38,1.0,0.0,0.0,0.0,0.0,0.0,0.0,23.2,25.4,30.0,11.5200,4.0200
39,0.0,1.0,0.0,0.0,0.0,0.0,0.0,19.8,21.5,24.1,9.7364,3.1571
40,0.0,0.0,1.0,0.0,0.0,0.0,0.0,37.0,40.0,42.5,11.7300,7.2250
41,0.0,0.0,0.0,0.0,1.0,0.0,0.0,20.4,22.0,24.7,5.8045,3.7544
42,0.0,0.0,0.0,1.0,0.0,0.0,0.0,48.3,51.7,55.1,8.9262,6.1712
43,0.0,0.0,0.0,0.0,1.0,0.0,0.0,24.0,26.0,29.2,8.8768,4.4968
44,0.0,0.0,1.0,0.0,0.0,0.0,0.0,25.4,27.5,28.9,7.0516,4.3350
45,0.0,0.0,0.0,0.0,0.0,1.0,0.0,13.8,15.0,16.2,2.9322,1.8792
46,0.0,0.0,0.0,0.0,0.0,0.0,1.0,24.1,26.5,29.3,8.1454,4.2485
47,1.0,0.0,0.0,0.0,0.0,0.0,0.0,26.3,29.0,33.5,12.7300,4.4555

In [15]:
lr=LinearRegression()
model=lr.fit(new_x_train,y_train)
predict=model.predict(new_x_test)
predict

C:\Users\VIRAJ\anaconda3\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(
C:\Users\VIRAJ\anaconda3\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(

array([[  45.86311469],
       [  46.38127364],
       [ 643.73672577],
       [-121.06389749],
       [ 248.77143022],
       [  76.53674517],
       [ 539.62123178],
       [ 817.30429499],
       [-459.38080461],
       [ 459.66628547],
       [  75.38320178],
       [ 190.52026731],
       [  -7.66177153],
       [ 122.0754389 ],
       [ 346.0911121 ],
       [ 930.9568792 ],
       [ 282.80600819],
       [ 665.81642909],
       [ 763.91631154],
       [ 486.22191365],
       [-205.22394443],
       [ 194.63440876],
       [ 576.26980546],
       [ -21.67786487],
       [ 513.36952102],
       [ 974.15860726],
       [ 181.05006294],
       [  -6.41845683],
       [ -21.99834904],
       [ 264.47824512],
       [ 568.20836484],
       [ 184.21311679],
       [ 542.89991485],
       [ 896.55929201],
       [  70.77392535],
       [ 299.21842324],
       [ 221.38765385],
       [ -15.28925018],
       [ 291.44984016],
       [ 192.75436742],
       [ 901.10347689],
       [ 130.68072508],
       [ 982.78381592],
       [ 319.93211795],
       [ 347.78567895],
       [ 185.04920859],
       [ 367.16521766],
       [ 451.76657222]])

In [16]:
mean_squared_error(y_test,predict)

12053.755954343645

In [17]:
mean_absolute_error(y_test,predict)

76.0531023094157

In [18]:
r2_score(y_test,predict)

0.8591835809722171

In [19]:
model.coef_

array([[-103.78299527,   77.34437354,   41.80044819, -389.37635575,
         -12.69543256,  387.80622571,   -1.09626386,  -89.0520249 ,
          70.83485515,   53.62119527,   -4.01508198,   -3.31435938]])

In [20]:
model.intercept_

array([-887.02389645])

In [21]:
import joblib
joblib.dump(model,r"C:\Users\VIRAJ\Desktop\final_fish_m.joblib")

['C:\\Users\\VIRAJ\\Desktop\\final_fish_m.joblib']